---
export interface Props {
    title: string;
    description: string;
    url: string;
}
const { title, description, url } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title} | Heng Sunhour</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={url} />
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./styles/global.css">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        {import.meta.env.PROD && <meta name="robots" content="index,follow" />}
    </head>
    <body> <slot /> </body>
</html>
